# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
dist/

# Ruby
.bundle/
vendor/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local
