{% comment %}
  Convertit une date en format français
  Usage: {% include date_fr.html date=page.date %}
{% endcomment %}
{% assign day = include.date | date: "%d" %}
{% assign month_num = include.date | date: "%m" %}
{% assign year = include.date | date: "%Y" %}
{% case month_num %}
  {% when "01" %}{% assign month = "janvier" %}
  {% when "02" %}{% assign month = "février" %}
  {% when "03" %}{% assign month = "mars" %}
  {% when "04" %}{% assign month = "avril" %}
  {% when "05" %}{% assign month = "mai" %}
  {% when "06" %}{% assign month = "juin" %}
  {% when "07" %}{% assign month = "juillet" %}
  {% when "08" %}{% assign month = "août" %}
  {% when "09" %}{% assign month = "septembre" %}
  {% when "10" %}{% assign month = "octobre" %}
  {% when "11" %}{% assign month = "novembre" %}
  {% when "12" %}{% assign month = "décembre" %}
{% endcase %}
{{ day }} {{ month }} {{ year }}